.iconGroup {
  &:nth-child(1)::before {
    content: url("../assets/icons/icon-person.svg");
  }

  &:nth-child(2)::before {
    content: url("../assets/icons/icon-cog.svg");
  }

  &:nth-child(3)::before {
    content: url("../assets/icons/icon-chart.svg");
  }
}