header {
  padding-top: 4.8rem;

  @include media(">=sm") {
    padding-top: 6.4rem;
  }

  @include media(">=lg") {
    padding-top: 7.3rem;
  }

  section {
    padding: 0;
  }
}

nav {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 6rem;

  svg, img {
    @include media("<md") {
      width: 12.8rem;
    }
  }

  ul {
    display: flex;
    align-items: center;

    a {
      display: block;
      padding: 0 4.8rem;

      @include media(">=lg") {
        display: inline-block;
        margin: 0 2rem;
        padding: 0;
      }
    }
  }

  .-contact {
    margin-left: 48px;

    @include media(">=md") {
      margin-left: auto;
    }

    a {
      margin: 0;
    }
  }
}